<script type="text/javascript">
  jQuery(document).ready(function() {
      Device.default_data_table =  new DataTable(
              $('#devices'), { classes: 'data_table table table-condensed table-bordered' }
      );

      <%= start_remote_event_proxy() %>
      RemoteEventProxy.subscribe(Device, 'add', null, Device.addDevice);
      RemoteEventProxy.subscribe(Device, 'remove', null, Device.removeDevice);

      $('.stop_refresh').click(function() {
          if ($(this).html() == "Stop Updating") {
              RemoteEventProxy.stop();
              $(this).html("Start Updating");
          } else {
              RemoteEventProxy.start();
              $(this).html("Stop Updating");
          }
      });
      RemoteEventProxy.stop();
  });
</script>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
        <!-- nav collapse button -->
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>

        <%= link_to "Robotomate", root_url, :class => "brand" %>

        <div class="nav-collapse">
          <ul class="nav">
            <li class="hidden-desktop"><%= link_to "Add Device", :action => :create %></li>
            <li class="hidden-phone hidden-tablet dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Add Device</a>
              <ul class="dropdown-menu"><li class="well">
                <%= form_for_device({ :controller => :device, :action => :create_or_update }, { :class => 'form-horizontal restful-put', :id => 'add_device' }) do |field_content| %>
                  <%= field_content %>
                <% end %>
              </li></ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Commands</a>
              <ul class="dropdown-menu">
                <li><%=  link_to "All On", :action => :all_on %></li>
                <li><%=  link_to "All Off", :action => :all_off %></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span4">
    <div id="devices">nothing?</div>
    <a class="stop_refresh" href="#">Stop Updating</a>
  </div>
</div>


