<!DOCTYPE html>
<html>
<head>
  <title>Robotomate</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "remote_event_proxy" %>
  <%= javascript_include_tag "device" %>
  <%= csrf_meta_tags %>
  <%= yield :header %>
</head>
<body>
<%= yield :start_body %>

<%= yield %>

<%= yield :end_body %>
</body>
</html>
