<!DOCTYPE html>
<html>
<head>
  <title>Robotomate</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>

  <script type="text/javascript">
    Device.X10.Lamp.BULB_ICON = '<%= escape_javascript(image_path("device_icons/bulb.svg")) %>';
  </script>
  <%= yield :header %>
</head>
<body>
<%= yield :start_body %>

<%= yield %>

<%= yield :end_body %>
</body>
</html>
